<div class="row row-section">
    <div class="col-md-6">
        <div class="h-100 p-5 text-dark bg-light rounded-3">
            <h1>
                Bluebonnets Rock!
            </h1>
            <p>
                Our troop was founded on May 1st, 2021 in Copperas Cove. 
                We were originally sponsered by the local newspaper but are now
                sponsored by the VFW in Harker Heights.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100">
            <img class="img-fluid" src="/static/images/238G-bandana.jpg"/>
        </div>
    </div>
</div>

<div class="row row-section">
    <div class="col-6 col-md-3">
        <div class="h-100">
            <img class="img-fluid" src="/static/images/scouts-001.jpg"/>
        </div>                
    </div>
    <div class="col-6 col-md-9">
        <div class="h-100 p-5 text-dark bg-light rounded-3">
            <h1>
                Activities and Events
            </h1>
            <p>
                We've participated in a ton of campouts, fundraisers, and hikes. We 
                were able to spend a weekend at the horse ranch, help the Cub Scouts cross over, 
                cook pancakes for our sponsor organization, and clean up our local cemetary!
            </p>
        </div>
    </div>
</div>

<div class="row row-section">
    <div class="col">
        <div class="h-100">
            <img class="img-fluid w-100" src="/static/images/scouts-002.jpg"/>
        </div>
    </div>
</div>